$font-base: 16px;

$border-color: #eaeff7; //#f1f6fd; //#dadbdb;

$font-geometria-extrabold: "Geometria-ExtraBold", sans-serif;
$font-geometria-bold: "Geometria-Bold", sans-serif;
$font-geometria-medium: "Geometria-Medium", sans-serif;
$font-geometria-light: "Geometria-Light", sans-serif;

$PATH_IMG: "../img";
$PATH_FONT: "../fonts";
