footer
  .container
    a(href='index.html').navbar-brand
      img(src='img/logo.png')
    .navbar-expand-lg
      ul.navbar-nav
        li.nav-item
          a.nav-link(href="") Главная
        li.nav-item
          a.nav-link(href="") Новости
        li.nav-item
          a.nav-link(href="") Учредители
        li.nav-item
          a.nav-link(href="") Конкурсы
        li.nav-item
          a.nav-link(href="") О фонде
        li.nav-item
          a.nav-link(href="") Партнёры
        li.nav-item
          a.nav-link(href="") Контакты
        li.nav-item
          a.nav-link(href="") Политика конфиденциальности
        li.nav-item
          a.nav-link(href="") Пользовательское соглашение