footer {
  background-color: #222;
  padding: 20px 0;

  .container {
    display: flex;
    align-items: center;
  }

  .navbar-nav {
    flex-wrap: wrap;

    .nav-item {
      padding: 0 10px;
    }

    .nav-link {
      font: 14px/14px $font-geometria-bold;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 1px;
      line-height: 30px;
      padding: 0;
      white-space: nowrap;
    }
  }
}
